<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626802187391-d2l4mlg401ul8p8e8sdqlsq0i959u4k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626802187391-d2l4mlg401ul8p8e8sdqlsq0i959u4k1</string>
	<key>API_KEY</key>
	<string>AIzaSyAvD2Uf3Q3kGamI4YOLYCeiHE4yCF0LGyo</string>
	<key>GCM_SENDER_ID</key>
	<string>626802187391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selldy.yab</string>
	<key>PROJECT_ID</key>
	<string>yabyab-b460a</string>
	<key>STORAGE_BUCKET</key>
	<string>yabyab-b460a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626802187391:ios:f4696db38d8a298f4df34a</string>
</dict>
</plist>